<h1>Cesta de Compras</h1>
<b>{{mensagem}}</b>

<table>
    <tr>
        <td>Cod.</td>
        <td>nome</td>
        <td>Qtd</td>
        <td>valor R$</td>
        <td>total por item R$</td>
    </tr>

    <tr *ngFor="let produto of cesta.produtos">
        <td>{{produto.getId()}}</td>
        <td>{{produto.getName()}}</td>
        <td>{{produto.getBrand()}}</td>
        <td><button (click)="removerItem(produto)">Produto</button></td>
    </tr>
    <tr><td colspan="4">total</td><td>R$ {{cesta.total}}</td></tr>
</table>
<button (click)="limparCesta()">limpar</button>