<div class="bg-black py-16">
    <div class="flex  rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
        <div class="w-full p-8 lg:w-1/2">
            <h2 class="text-2xl font-semibold text-yellow-600">Digite seu email</h2>
            <p class="text-xl text-yellow-600"></p>
            
            <div class="mt-4">
                <label class="block text-yellow-400 text-sm font-bold mb-2">Email</label>
                <input class="bg-zinc-950 text-yellow-400 focus:outline-none focus:shadow-outline border border-yellow-400 rounded-full py-2 px-4 block w-full appearance-none" type="email" />
            </div>
            
            <div class="mt-4 flex items-center justify-between">
                
                <a class="text-xs text-gray-300">Ao clicar, um link será enviado por email em até 10s para recupeção de senha.</a>
            </div>
            <div class="mt-4">
                <button 
                    routerLink="/create-new-user"
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page"
                    class="border border-yellow-400 bg-yellow-400 text-dark transition py-2 px-4 w-full rounded-full hover:bg-yellow-500">Enviar Link</button>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2 bg-cover"
            style="background-image:url('../../../assets/lux_elite_forget.jpg')">
        </div>
    </div>
</div>