<div class="bg-cover bg-center h-[40vh] flex justify-center items-center"
     style="background-image: url('../../../assets/fundo .jpg');"> 
    <div class="flex flex-col justify-center items-start text-left w-full px-20"> <!-- Alinhando à esquerda e adicionando padding -->
        <h1 class="text-4xl font-bold font-forum text-[#D7A137] ml-4">CHECKOUT</h1> <!-- Adicionando margem à esquerda -->
    </div>
    <div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-4 bg-white shadow-xl rounded-lg text-gray-900">
    </div>
</div>
<!-- fim do fundo de luzes -->


<div class="bg-black mt-0 grid gap-8 sm:grid-cols-2 lg:grid-cols-2 p-4 md:p-8">
    <!-- quem somos -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center">
      <div class="space-y-12">
        <button class="bg-black text-white font-forum px-4 py-3 border-2 border-[#D7A137] text-3xl">MEU CADASTRO</button>
        <div class="space-y-4 text-center">
            
            <h3 class="text-3xl text-[#9b6c0e] font-forum">FORMAS DE PAGAMENTO</h3>
            <button class="bg-black text-white font-forum px py-3 border-2 border-[#D7A137] text-3xl">Pix</button>
        </div>
      </div>
    </div>
  
    <!-- o que fazemos -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center">
      <div class="space-y-12">
        <div class="space-y-4 text-center">
          <h3 class="text-3xl text-[#9b6c0e] font-abhaya">O QUE FAZEMOS?</h3>
          
        </div>
      </div>
    </div>
  </div>
  
 