<div class="bg-cover bg-center h-[40vh] flex justify-center items-center"
     style="background-image: url('../../../assets/fundo .jpg');"> 
    <div class="flex flex-col justify-center items-center text-center w-full">
        <h1 class="text-4xl" style="font-family: 'Cinzel Decorative', serif; color: #D7A137;">SAQ & FAC</h1>
    </div>
    <div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-4 bg-white shadow-xl rounded-lg text-gray-900">
    </div>
</div>
<!-- fim do fundo de luzes -->

<div class="mt-2 grid gap-8 sm:grid-cols-1 lg:grid-cols-1 p-4 md:p-8">
    <!-- saq e fac -->
    <div class="p-8 py-8 sm:p-5 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Poppins'; color: #D7A137; margin-bottom: 0px;">Seção de Ajuda e Questões Frequentes (SAQ)</h3>
            </div>
        </div>
    </div>
</div>
<div class="grid gap-4 sm:grid-cols-1 lg:grid-cols-1 p-4 md:p-8"> 
    <!-- questao 1 -->
    <div class="p-8 py-4 sm:p-8 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Abhaya Libre'; color: #f5f5f5;">1. O que está incluído nos pacotes de luxo?</h3>
                <p class="mt-4 ml-8 text-xl" style="font-family: 'Abhaya Libre'; color: #FCF6DE;">
                    Nossos pacotes de luxo oferecem uma experiência exclusiva que pode incluir fotos com carros de luxo, animais exóticos, bolsas e roupas de marcas renomadas, além de um cenário de fundo cuidadosamente escolhido para contar uma história sofisticada e elegante.
                </p>
            </div>
        </div>
    </div>
    <!-- questao 2 -->
    <div class="p-8 py-4 sm:p-8 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Abhaya Libre'; color: #f5f5f5;">2. Posso personalizar meu pacote de luxo?</h3>
                <p class="mt-4 ml-8 text-xl" style="font-family: 'Abhaya Libre'; color: #FCF6DE;">
                    Sim! Oferecemos opções de personalização de acordo com suas preferências. Você pode escolher os carros, as bolsas, os animais e até mesmo o cenário que melhor se adapta à sua visão. Entre em contato com nossa equipe para mais detalhes sobre como personalizar o seu pacote.
                </p>
            </div>
        </div>
    </div>
    <!-- questao 3 -->
    <div class="p-8 py-4 sm:p-8 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Abhaya Libre'; color: #f5f5f5;">3. Os animais presentes nos pacotes são bem cuidados?</h3>
                <p class="mt-4 ml-8 text-xl" style="font-family: 'Abhaya Libre'; color: #FCF6DE;">
                    Sim, todos os animais envolvidos em nossos pacotes são tratados com o maior cuidado e respeito. Eles são monitorados por profissionais especializados e vivem em ambientes confortáveis, sempre respeitando seu bem-estar.
                </p>
            </div>
        </div>
    </div>
    <!-- questao 4 -->
    <div class="p-8 py-4 sm:p-8 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Abhaya Libre'; color: #f5f5f5;">4. Como faço para reservar um pacote?</h3>
                <p class="mt-4 ml-8 text-xl" style="font-family: 'Abhaya Libre'; color: #FCF6DE;">
                    Basta navegar pelos nossos pacotes disponíveis, escolher o que melhor lhe convém, fazer o cadastro de reserva e efetuar o pagamento online. Você receberá um e-mail de confirmação com todos os detalhes da sua reserva.
                </p>
            </div>
        </div>
    </div>
    <!-- questao 5 -->
    <div class="p-8 py-4 sm:p-8 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Abhaya Libre'; color: #f5f5f5;">5. Há uma política de cancelamento?</h3>
                <p class="mt-4 ml-8 text-xl" style="font-family: 'Abhaya Libre'; color: #FCF6DE;">
                    Sim, oferecemos uma política de cancelamento flexível. Você pode cancelar ou alterar sua reserva até 7 dias antes da efetuação do primeiro pagamento para um reembolso total. Cancelamentos feitos com menos de 7 dias de antecedência podem incorrer em taxas.
                </p>
            </div>
        </div>
    </div>
    <!-- questao 6 -->
    <div class="p-8 py-4 sm:p-8 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Abhaya Libre'; color: #f5f5f5;">6. Vocês atendem em todo o Brasil?</h3>
                <p class="mt-4 ml-8 text-xl" style="font-family: 'Abhaya Libre'; color: #FCF6DE;">
                    Atualmente, nossos serviços estão disponíveis nas principais capitais do Brasil. Se você está em uma região fora dessas áreas, entre em contato conosco para verificarmos a disponibilidade de atendimento.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="mt-0 grid gap-8 sm:grid-cols-1 lg:grid-cols-1 p-4 md:p-8">
    <!-- saq e fac -->
    <div class="p-8 py-8 sm:p-7 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-start ml-4"> 
        <div class="space-y-12">
            <div class="space-y-4 text-left">
                <h3 class="text-3xl" style="font-family: 'Poppins'; color: #D7A137; margin-bottom: 0px;">Facilitadores de Atendimento ao Cliente (FAC)</h3>
            </div>
        </div>
    </div>
</div>
<div class="mt-0 grid gap-8 sm:grid-cols-2 lg:grid-cols-2 p-4 md:p-8">
    <!-- TELEFONE -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-center">
        <div class="space-y-12">
            <div class="space-y-4 text-center">
                <h3 class="text-3xl" style="font-family: 'Forum'; color: #D7A137;">Tel: 0800 0800 0800</h3>
                <p class="text-2xl" style="font-family: 'Abhaya Libre', serif; color: #B2AE9B;">Ligue para nossa central de atendimento, disponível de segunda a sexta-feira, das 9h às 18h. Nossos atendentes estão prontos para ajudar você a escolher o pacote ideal.</p>
            </div>
        </div>
    </div>

    <!-- EMAIL -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-center">
        <div class="space-y-12">
            <div class="space-y-4 text-center">
                <h3 class="text-3xl" style="font-family: 'Forum'; color: #D7A137;">atendimento&#64;luxelite.com</h3>
                <p class="text-2xl"  style="font-family: 'Abhaya Libre', serif; color: #B2AE9B;">Para dúvidas gerais ou consultas específicas, envie-nos um e-mail, responderemos em até 24 horas.</p>
            </div>
        </div>
    </div>
</div>

