<div
  class="bg-cover bg-center h-[40vh] sm:h-[30vh] md:h-[30vh] lg:h-[35vh] xl:h-[35vh] flex justify-center items-center"
  style="background-image: url('../../../assets/fundo .jpg');"
> 
  <div class="flex flex-col justify-center items-center text-center w-full">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-5xl text-[#D7A137] font-cinzel">
      SAQ & FAC
    </h1>
  </div>
  <div
    class="max-w-xl mx-4 sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl sm:mx-auto mt-4 bg-white shadow-xl rounded-lg text-gray-900"
  ></div>
</div>
<!-- fim do fundo de luzes -->

<div class="bg-black mt-0 grid gap-8 sm:grid-cols-1 lg:grid-cols-1 p-4 md:p-8">
  <!-- SAQ -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#D7A137] font-forum">
          Seção de Ajuda e Questões Frequentes (SAQ)
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="bg-black grid gap-4 sm:grid-cols-1 lg:grid-cols-1 p-4 md:p-8">
  <!-- Questão 1 -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#f5f5f5] font-abhaya">
          1. O que está incluído nos pacotes de luxo?
        </h3>
        <p class="mt-4 ml-6 sm:ml-8 text-lg sm:text-xl lg:text-2xl text-[#FCF6DE] font-abhaya">
          Nossos pacotes de luxo oferecem uma experiência exclusiva que pode incluir fotos com carros de luxo, animais exóticos, bolsas e roupas de marcas renomadas, além de um cenário de fundo cuidadosamente escolhido para contar uma história sofisticada e elegante.
        </p>
      </div>
    </div>
  </div>

  <!-- Questão 2 -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#f5f5f5] font-abhaya">
          2. Posso personalizar meu pacote de luxo?
        </h3>
        <p class="mt-4 ml-6 sm:ml-8 text-lg sm:text-xl lg:text-2xl text-[#FCF6DE] font-abhaya">
          Sim! Oferecemos opções de personalização de acordo com suas preferências. Você pode escolher os carros, as bolsas, os animais e até mesmo o cenário que melhor se adapta à sua visão. Entre em contato com nossa equipe para mais detalhes sobre como personalizar o seu pacote.
        </p>
      </div>
    </div>
  </div>

  <!-- Questão 3 -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#f5f5f5] font-abhaya">
          3. Os animais presentes nos pacotes são bem cuidados?
        </h3>
        <p class="mt-4 ml-6 sm:ml-8 text-lg sm:text-xl lg:text-2xl text-[#FCF6DE] font-abhaya">
          Sim, todos os animais envolvidos em nossos pacotes são tratados com o maior cuidado e respeito. Eles são monitorados por profissionais especializados e vivem em ambientes confortáveis, sempre respeitando seu bem-estar.
        </p>
      </div>
    </div>
  </div>

  <!-- Questão 4 -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#f5f5f5] font-abhaya">
          4. Como faço para reservar um pacote?
        </h3>
        <p class="mt-4 ml-6 sm:ml-8 text-lg sm:text-xl lg:text-2xl text-[#FCF6DE] font-abhaya">
          Basta navegar pelos nossos pacotes disponíveis, escolher o que melhor lhe convém, fazer o cadastro de reserva e efetuar o pagamento online. Você receberá um e-mail de confirmação com todos os detalhes da sua reserva.
        </p>
      </div>
    </div>
  </div>

  <!-- Questão 5 -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#f5f5f5] font-abhaya">
          5. Há uma política de cancelamento?
        </h3>
        <p class="mt-4 ml-6 sm:ml-8 text-lg sm:text-xl lg:text-2xl text-[#FCF6DE] font-abhaya">
          Sim, oferecemos uma política de cancelamento flexível. Você pode cancelar ou alterar sua reserva até 7 dias antes da efetuação do primeiro pagamento para um reembolso total. Cancelamentos feitos com menos de 7 dias de antecedência podem incorrer em taxas.
        </p>
      </div>
    </div>
  </div>

  <!-- Questão 6 -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#f5f5f5] font-abhaya">
          6. Vocês atendem em todo o Brasil?
        </h3>
        <p class="mt-4 ml-6 sm:ml-8 text-lg sm:text-xl lg:text-2xl text-[#FCF6DE] font-abhaya">
          Atualmente, nossos serviços estão disponíveis nas principais capitais do Brasil. Se você está em uma região fora dessas áreas, entre em contato conosco para verificarmos a disponibilidade de atendimento.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- FAC -->
<div class="bg-black mt-0 grid gap-8 sm:grid-cols-1 lg:grid-cols-1 p-4 md:p-8">
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-start ml-4">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-left">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#D7A137] font-forum">
          Facilitadores de Atendimento ao Cliente (FAC)
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Contatos -->
<div class="bg-black mt-0 grid gap-8 sm:grid-cols-1 lg:grid-cols-2 p-4 md:p-8">
  <!-- Telefone -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-center">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#D7A137] font-forum">
          Tel: 0800 0800 0800
        </h3>
        <p class="text-lg sm:text-xl lg:text-2xl text-[#b2ae9b] font-abhaya">
          Ligue para nossa central de atendimento, disponível de segunda a sexta-feira, das 9h às 18h. Nossos atendentes estão prontos para ajudar você a escolher o pacote ideal.
        </p>
      </div>
    </div>
  </div>

  <!-- E-mail -->
  <div class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-center">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#D7A137] font-forum">
          atendimento&#64;luxelite.com
        </h3>
        <p class="text-lg sm:text-xl lg:text-2xl text-[#b2ae9b] font-abhaya">
          Para dúvidas gerais ou consultas específicas, envie-nos um e-mail, responderemos em até 24 horas.
        </p>
      </div>
    </div>
  </div>
</div>
