<div class="bg-cover bg-center h-[40vh] flex justify-center items-center"
     style="background-image: url('../../../assets/fundo .jpg');"> 
    <div class="flex flex-col justify-center items-center text-center w-full">
        <h1 class="text-4xl font-semibold" style="font-family: 'Cinzel Decorative', serif; color: #D7A137;">ENTRE EM CONTATO</h1>
    </div>
    <div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-4 bg-white shadow-xl rounded-lg text-gray-900">
    </div>
</div>
<!-- fim do fundo de luzes -->

<div class=" bg-black mt-0 grid gap-8 sm:grid-cols-2 lg:grid-cols-2 p-4 md:p-8">
    <!-- TELEFONE -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl  flex flex-col items-center">
        <div class="space-y-12">
            <div class="space-y-4 text-center">
                <h3 class="text-3xl" style="font-family: 'Forum'; color: #9b6c0e;">Tel (011) 4002 8922</h3>
                <p class="text-2xl" style="font-family: 'Abhaya Libre', serif; color: #B2AE9B;">Nosso atendimento exclusivo está apenas a uma ligação de distância. Ligue para a Lux Elite e tenha uma experiência personalizada, tirando dúvidas ou reservando o seu pacote de luxo com total discrição e agilidade. Estamos prontos para atendê-lo e oferecer o que há de mais sofisticado.</p>
            </div>
        </div>
    </div>

    <!-- EMAIL -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center">
        <div class="space-y-12">
            <div class="space-y-4 text-center">
                <h3 class="text-3xl" style="font-family: 'Forum'; color: #9b6c0e;">contato&#64;luxelite.com</h3>
                <p class="text-2xl"  style="font-family: 'Abhaya Libre', serif; color: #B2AE9B;">Prefere um atendimento mais detalhado? Envie-nos um e-mail e nossa equipe responderá com a máxima atenção e rapidez. Na Lux Elite, cada cliente é tratado com exclusividade, e estamos prontos para ajudá-lo a escolher o pacote de luxo ideal para sua ocasião.</p>
            </div>
        </div>
    </div>
</div>
