<div class="relative flex flex-col-reverse items-center w-full h-auto px-4 mx-auto sm:flex-col md:flex-row-reverse sm:px-6 bg-black">
    <div class="flex items-center py-5 md:w-1/2 md:pb-20 md:pt-10 md:pl-10">
        <div class="relative w-full p-3 rounded md:p-8">
            <div class="rounded-lg bg-white text-black w-full sm:w-3/4">
                <img src="../../../assets/fundo_pacotes.jpg" class="w-full h-auto rounded-lg" alt="Pacotes">
            </div>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-1/2 md:pb-20 md:pt-10 md:pr-10">
        <div class="text-left pl-4 sm:pl-10 md:pl-20">
            <h2 class="text-2xl font-forum text-[#D7A137] sm:text-4xl md:text-5xl">
                Descubra a elegância, viva o extraordinário!
            </h2>
        </div>
    </div>
</div>

<!-- Travessão acima do título ocupando toda a largura da página -->
<section class="bg-black mb-0 border-t w-full md:w-1/2 mx-auto border-[#AD760C]">
</section>

<div class="bg-black">
    <h1 class="text-xl font-forum text-center p-4 text-[#D7A137] sm:text-3xl">
        Todos os nossos pacotes
    </h1>
    <h4 class="text-xs sm:text-base text-center p-4 text-[#b2ae9b]">
        Todos os itens dos nossos pacotes são escolhidos pelo cliente no momento da assinatura
    </h4>
</div>

<app-pricing-info-card
    *ngFor="let card of cardsList"
    [cardTitle]="card.title"
    [cardSmallInfo]="card.smallInfo"
    [packFeatures]="card.packFeatures"
    [packPrice]="card.packPrice"
    [onSubscribe]="addToCart.bind(this, card)">
</app-pricing-info-card>
