<div
  class="bg-cover bg-center h-[40vh] sm:h-[30vh] md:h-[30vh] lg:h-[35vh] xl:h-[35vh] flex justify-center items-center"
  style="background-image: url('../../../assets/fundo\ .jpg')"
>
  <div class="flex flex-col justify-center items-center text-center w-full">
    <h1
      class="text-3xl sm:text-3xl md:text-4xl lg:text-4xl text-[#D7A137] font-semibold font-cinzel"
    >
      Sobre a Lux Elite
    </h1>
  </div>
  <div
    class="max-w-xl mx-4 sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-2xl sm:mx-auto mt-4 bg-white shadow-xl rounded-lg text-gray-900"
  ></div>
</div>
<!-- fim do fundo de luzes -->

<div class="bg-black mt-0 grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 p-4 md:p-8">
  <!-- quem somos -->
  <div
    class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center"
  >
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-center">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#9b6c0e] font-forum">
          QUEM SOMOS?
        </h3>
        <p
          class="text-base sm:text-lg md:text-xl lg:text-2xl text-[#b2ae9b] font-abhaya"
        >
          Na Lux Elite, somos apaixonados por proporcionar experiências
          exclusivas e memoráveis. Com um olhar atento aos detalhes e um
          compromisso inabalável com a excelência, nossa missão é transformar
          momentos em experiências luxuosas e incomparáveis. Para nós, viver com
          sofisticação e conforto é mais do que um estilo de vida, é uma arte.
        </p>
      </div>
    </div>
  </div>

  <!-- o que fazemos -->
  <div
    class="p-6 sm:p-8 md:p-10 lg:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center"
  >
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-4 text-center">
        <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#9b6c0e] font-forum">
          O QUE FAZEMOS?
        </h3>
        <p
          class="text-base sm:text-lg md:text-xl lg:text-2xl text-[#b2ae9b] font-abhaya"
        >
          Na Lux Elite, oferecemos pacotes exclusivos para quem deseja vivenciar
          o estilo de vida dos ricos e famosos. Nossos pacotes incluem itens
          como bolsas de luxo, a companhia de animais exóticos, e sessões de
          fotos com carros luxuosos. Proporcionamos uma experiência única, onde
          o glamour e a exclusividade se tornam acessíveis, permitindo que
          nossos clientes vivam momentos inesquecíveis com todo o requinte.
        </p>
      </div>
    </div>
  </div>
</div>
