<div class="bg-cover bg-center h-[40vh] flex justify-center items-center"
     style="background-image: url('../../../assets/fundo .jpg');"> 
    <div class="flex flex-col justify-center items-center text-center w-full">
        <h1 class="text-4xl font-semibold" style="font-family: 'Cinzel Decorative', serif; color: #D7A137;">Sobre a Lux Elite</h1>
    </div>
    <div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-4 bg-white shadow-xl rounded-lg text-gray-900">
    </div>
</div>
<!-- fim do fundo de luzes -->

<div class="mt-4 grid gap-8 sm:grid-cols-2 lg:grid-cols-2 p-4 md:p-8">
    <!-- quem somos -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-center">
        <div class="space-y-12">
            <div class="space-y-4 text-center">
                <h3 class="text-3xl" style="font-family: 'Forum'; color: #9b6c0e;">QUEM SOMOS?</h3>
                <p class="text-2xl" style="font-family: 'Abhaya Libre', serif; color: #B2AE9B;">Na Lux Elite, somos apaixonados por proporcionar experiências exclusivas e memoráveis. Com um olhar atento aos detalhes e um compromisso inabalável com a excelência, nossa missão é transformar momentos em experiências luxuosas e incomparáveis. Para nós, viver com sofisticação e conforto é mais do que um estilo de vida, é uma arte.</p>
            </div>
        </div>
    </div>

    <!-- o que fazemos -->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl shadow-gray-600/10 flex flex-col items-center">
        <div class="space-y-12">
            <div class="space-y-4 text-center">
                <h3 class="text-3xl" style="font-family: 'Forum'; color: #9b6c0e;">O QUE FAZEMOS?</h3>
                <p class="text-2xl"  style="font-family: 'Abhaya Libre', serif; color: #B2AE9B;">Na Lux Elite, oferecemos pacotes exclusivos para quem deseja vivenciar o estilo de vida dos ricos e famosos. Nossos pacotes incluem itens como bolsas de luxo, a companhia de animais exóticos, e sessões de fotos com carros luxuosos. Proporcionamos uma experiência única, onde o glamour e a exclusividade se tornam acessíveis, permitindo que nossos clientes vivam momentos inesquecíveis com todo o requinte.</p>
            </div>
        </div>
    </div>
</div>
