<div class="bg-cover bg-center h-[40vh] flex justify-center items-center"
     style="background-image: url('../../../assets/fundo .jpg');"> 
    <div class="flex flex-col justify-center items-center text-center w-full">
        <h1 class="text-4xl" style="font-family: 'Forum', serif; color: #D7A137;">ALGUNS DE NOSSOS PARCEIROS</h1>
    </div>
    <div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-4 bg-white shadow-xl rounded-lg text-gray-900">
    </div>
</div>
<!-- fim do fundo de luzes -->

<div class="bg-black mt-0 grid gap-8 sm:grid-cols-1 lg:grid-cols-1 p-4 md:p-8">
    <!-- descrição-->
    <div class="p-8 py-12 sm:p-12 bg-opacity-50 shadow-2xl flex flex-col items-center">
        <div class="space-y-12">
            <div class="space-y-4 text-center">
                <p class="text-2xl" style="font-family: 'Abhaya Libre', serif; color: #B2AE9B;">
                    Na Lux Elite, contamos com parceiros selecionados que compartilham nossa paixão pela exclusividade e sofisticação. Cada um de nossos parceiros é líder em seu segmento, 
                    oferecendo produtos e serviços de altíssima qualidade para garantir que nossos clientes vivam experiências incomparáveis. Com o apoio dessas marcas de prestígio, proporcionamos
                     o melhor do mundo do luxo, desde acessórios de grife até veículos de alto padrão. Juntos, fazemos com que cada momento seja único e memorável.
                </p>
            </div>
        </div>
    </div>
</div>

 <!-- logos -->
 <div class="bg-black px-8 py-10 w-full">
  <div class="grid gap-x-8 gap-y-12 sm:gap-y-16 md:grid-cols-2 lg:grid-cols-3">
      <div class="relative">
        <img src="../../../assets/etoile_prestige_logo.png" alt="Etoile Prestige" class="w-24 h-24 mx-auto">
        <div class="relative mt-5 text-center">
          <h2 class="text-3xl text-[#8F6A43] font-galada font-bold leading-5 transition-colors duration-200 dark:hover:text-purple-400">
            Etoile Prestige
          </h2>
        </div>
      </div>      

      <div class="relative">
        <img src="../../../assets/royale_paws_logo.png" alt="Royale Paws" class="w-24 h-24 mx-auto">
        <div class="relative mt-5 text-center">
          <h2 class="text-3xl text-[#7366AA] font-gaegu font-bold leading-5 transition-colors duration-200 dark:hover:text-purple-400">
            Royale Paws
          </h2>
        </div>
      </div>

      <div class="relative">
        <img src="../../../assets/grand_class_auto_logo.png" alt="Grand Class Motors" class="w-24 h-24 mx-auto">
        <div class="relative mt-5 text-center">
          <h2 class="text-3xl text-[#1E3C92] font-genos font-bold leading-5 transition-colors duration-200 dark:hover:text-purple-400">
            Grand Class Motors
          </h2>
        </div>
      </div>
  </div>
</div>
