<nav  class="pb-3 bg-black shadow dark:bg-black">
	<div class="container pt-4 mx-auto md:flex md:justify-end sm:items-center">
		<div class="inset-x-0 z-20 w-full transition-all duration-300 ease-in-out dark:bg-black md:mt-0 md:p-0 md:top-0 md:relative md:bg-transparent md:w-auto md:opacity-100 md:translate-x-0 md:flex md:items-center">
			<div class="items-center md:flex md:flex-row">
                <div class="rounded-md shadow m-2">
                    <a 
                        routerLink="/create-new-user" 
                        routerLinkActive="active" 
                        ariaCurrentWhenActive="page"
                        class="flex items-center justify-center px-5 border text-base font-thin rounded-full text-[#AD760C] transition-colors border-[#AD760C] bg-black hover:bg-[#AD760C] hover:text-white">Criar usuário</a>
                </div>
                <div class="rounded-md shadow m-2">
                    <a 
                        routerLink="/login" 
                        routerLinkActive="active" 
                        ariaCurrentWhenActive="page"
                        class="flex items-center justify-center px-5 border transition-colors border-transparent text-base font-thin rounded-full text-dark bg-[#AD760C] hover:bg-yellow-500">Entrar</a>
                </div>
			</div>
		</div>
	</div>
</nav>